<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jimmy Liu</title>
  <meta name="description" content="About Jimmy Liu" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/aos.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="styles/main.css" rel="stylesheet">
</head>

<body id="top">
  <header>
    <div class="profile-page sidebar-collapse">
      <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
        <div class="container">
          <div class="navbar-translate"><a class="navbar-brand" rel="tooltip">Jimmy Liu</a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
              aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span
                class="navbar-toggler-bar bar3"></span></button>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#portfolio">Portfolio</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
              <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div class="page-content">
    <div>
      <div class="profile-page">
        <div class="wrapper">
          <div class="page-header page-header-small" filter-color="green">
            <div class="page-header-image" data-parallax="true" style="background-image: url('img/campus_photo.jpg');">
            </div>
            <div class="container">
              <div class="content-center">
                <div class="cc-profile-image"><a href="https://facebook.com/jimmystereo" target="_blank"><img
                      src="img/face2.jpg" alt="Image" /></a></div>
                <div class="h2 title">Jimmy Liu</div>
                <p class="category text-white">Web Developer, Programmer, Graphic Designer</p><a
                  class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
                  data-aos-anchor="data-aos-anchor">Hire Me</a>
                <!-- <a class="btn btn-primary" href="#" data-aos="zoom-in"
                  data-aos-anchor="data-aos-anchor">Download CV</a> -->
              </div>
            </div>
            <div class="section">
              <div class="container">
                <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon"
                    href="https://www.facebook.com/jimmystereo/" target="_blank" rel="tooltip"
                    title="Follow me on Facebook"><i class="fa fa-facebook"></i></a><a
                    class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/jimmystereo" rel="tooltip" title="Visit my github" target="_blank"><i
                      class="fa fa-github"></i></a><a class="btn btn-default btn-round btn-lg btn-icon"
                    href="https://www.youtube.com/channel/UC2uI4omSSUkcS6aMt2-9I6A" target="_blank" rel="tooltip"
                    title="Follow me on youtube"><i class="fa fa-youtube"></i></a><a
                    class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/lhg221/"
                    target="_blank" rel="tooltip" title="Follow me on Instagram"><i class="fa fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="about">
        <div class="container">
          <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="card-body">
                  <div class="h4 mt-0 title">About</div>
                  <p>Hello! I am Jimmy Liu. A designer and a starter in programming and web-development</p>
                  <p>Here's some of my works, and some of my storys. Contact me if you are interested in what I'm doing!
                  </p>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="card-body">
                  <div class="h4 mt-0 title">Basic Information</div>
                  <div class="row">
                    <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
                    <div class="col-sm-8">20</div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                    <div class="col-sm-8">jimmystereo@gmail.com</div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
                    <div class="col-sm-8">+886 955-007-221</div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
                    <div class="col-sm-8">Taipei, Taiwan</div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
                    <div class="col-sm-8">English, German, Chinese</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="skill">
        <div class="container">
          <div class="h4 text-center mb-4 title">Professional Skills</div>
          <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="progress-container progress-primary"><span class="progress-badge">HTML</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">80%</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="progress-container progress-primary"><span class="progress-badge">Graphic Design</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 85%;"></div><span class="progress-value">85%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="progress-container progress-primary"><span class="progress-badge">JavaScript</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="progress-container progress-primary"><span class="progress-badge">Java</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">80%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="progress-container progress-primary"><span class="progress-badge">Bootstrap</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="progress-container progress-primary"><span class="progress-badge">Android</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">80%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              <div class="h4 text-center mb-4 title">Portfolio</div>
              <div class="nav-align-center">
                <ul class="nav nav-pills nav-pills-primary" role="tablist">
                  <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-development"
                      role="tablist"><i class="fa fa-laptop" aria-hidden="true"></i></a></li>
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design" role="tablist"><i
                        class="fa fa-picture-o" aria-hidden="true"></i></a></li>
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Photography" role="tablist"><i
                        class="fa fa-camera" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-content gallery mt-5">
            <div class="tab-pane active" id="web-development">
              <div class="ml-auto mr-auto">
                <div class="row">
                  <div class="col-md-6">
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      <a href="https://github.com/jimmystereo/MyProject" target="_blank">
                        <figure class="cc-effect"><img src="img/vue.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">Startup Project</div>
                            <p>ML, Vue.js</p>
                          </figcaption>
                        </figure>
                      </a></div>
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      <a href="https://www.youtube.com/channel/UC2uI4omSSUkcS6aMt2-9I6A">
                        <figure class="cc-effect"><img src="img/youtuber.png" alt="Image" />
                          <figcaption>
                            <div class="h4">Youtube Channel</div>
                            <p>日常333</p>
                          </figcaption>
                        </figure>
                      </a></div>


                  </div>
                  <div class="col-md-6">
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      <a href="https://github.com/jimmystereo/LCoach" target="_blank">
                        <figure class="cc-effect"><img src="img/lcoach.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">L Coach</div>
                            <p>for volleyball training</p>
                          </figcaption>
                        </figure>
                      </a></div>
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      <a>
                        <figure class="cc-effect"><img src="img/UI.png" alt="Image" />
                          <figcaption>
                            <div class="h4">UI/UX Design</div>
                            <p>Web Development</p>
                          </figcaption>
                        </figure>
                      </a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="graphic-design" role="tabpanel">
              <div class="ml-auto mr-auto">
                <div class="row">
                  <div class="col-md-6">
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      <a
                        href="https://docs.google.com/forms/d/e/1FAIpQLScXzSN8jPi1W6BzElOHaPvMq-8L0Iqas5o9U3i_U6907zp39Q/viewform?usp=sf_link">
                        <figure class="cc-effect"><img src="img/sticker.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">Sticker</div>
                            <p>Design</p>
                          </figcaption>
                        </figure>
                      </a></div>
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      <a href="https://www.instagram.com/outsider.people/">
                        <figure class="cc-effect"><img src="img/love_peace.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">outsider.people</div>
                            <p>Ig Art</p>
                          </figcaption>
                        </figure>
                      </a></div>
                  </div>
                  <div class="col-md-6">
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      <a href="https://line.me/S/sticker/4485243/?lang=en&ref=gnsh_stickerDetail">
                        <figure class="cc-effect"><img src="img/pig.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">The pinky piggy</div>
                            <p>Line Sticker Design</p>
                          </figcaption>
                        </figure>
                      </a></div>
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      <a>
                        <figure class="cc-effect"><img src="img/bamboo_t.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">Bamboo T</div>
                            <p>Apparel Design</p>
                          </figcaption>
                        </figure>
                      </a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="Photography" role="tabpanel">
              <div class="ml-auto mr-auto">
                <div class="row">
                  <div class="col-md-6">
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      <a>
                        <figure class="cc-effect"><img src="img/band.JPG" alt="Image" />
                          <figcaption>
                            <div class="h4">Night of ESOE</div>
                            <p>Band</p>
                          </figcaption>
                        </figure>
                      </a></div>
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      <a>
                        <figure class="cc-effect"><img src="img/basketball.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">Basketball Team</div>
                            <p>Champion</p>
                          </figcaption>
                        </figure>
                      </a></div>
                  </div>
                  <div class="col-md-6">
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      <a>
                        <figure class="cc-effect"><img src="img/volleyball_team.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">volleyball Team</div>
                            <p>sports</p>
                          </figcaption>
                        </figure>
                      </a></div>
                    <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                      <a>
                        <figure class="cc-effect"><img src="img/bamboo.jpg" alt="Image" />
                          <figcaption>
                            <div class="h4">NTU Bamboo</div>
                            <p>Welcome Party</p>
                          </figcaption>
                        </figure>
                      </a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="experience">
        <div class="container cc-experience">
          <div class="h4 text-center mb-4 title">Experience</div>
          <div class="card">
            <div class="row">
              <div id="card_1" class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50"
                data-aos-duration="500">
                <div class="card-body cc-experience-header">
                  <p>January 2020 - Present</p>
                  <div class="h5">Programmer</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">Programmer</div>
                  <p>I'm a starter in programming, learning Java, Python and web-development recently. I'm now focusing
                    on android app-development
                    and the usage of front end framework. Please give me some advise, I'd like to progress over time!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div id="card_2" class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50"
                data-aos-duration="500">
                <div class="card-body cc-experience-header">
                  <p>November 2018 - Present</p>
                  <div class="h5">Youtuber</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">日常333</div>
                  <p>日常333 is the most popular channel for people from anywhere. Shot under an unique camera movement,
                    which create scenes full
                    of tension. Agreeable and capable content is also what makes it so prevalent. Come visit us if you
                    got some time! </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div id="card_3" class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50"
                data-aos-duration="500">
                <div class="card-body cc-experience-header">
                  <p>July 2018 - Present</p>
                  <div class="h5">Designer</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">Artest</div>
                  <p>Been performing good on drawing and designing since I was young. Started to design stickers and
                    characters in recent years.
                    Line sticker "The Pinky Piggy" is the first commerce design which made a big success. The ig account
                    "outsider.people", created
                    in 2019, represents the spirit of my own. Also, I've been trying some designing on clothes, hope you
                    like it!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="container cc-education">
          <div class="h4 text-center mb-4 title">Growth</div>
          <div class="card">
            <div class="row">
              <div id="card_ntu" class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50"
                data-aos-duration="500">
                <div class="card-body cc-education-header">
                  <p>2018 - Present</p>
                  <div class="h5">Bachelor's Degree</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">Bachelor of Ocean Engineering & Engineering Science</div>
                  <p class="category">National Taiwan University</p>
                  <p>NTU is the best school in Taiwan. The department of ESOE is where we learn about Engineering,
                    Circuits and programming.
                    Being in the place I am, I tryed to be the best. I study, play, ponder.
                    Never been so clear about what I'm going to do next. And now, I'm ready to face the next challenge.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div id="card_highschool" class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50"
                data-aos-duration="500">
                <div class="card-body cc-education-header">
                  <p>2016 - 2018</p>
                  <div class="h5">High School</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">Hsinchu Hish School</div>
                  <p class="category">What makes me special</p>
                  <p>Three years in Hsinchu High School makes me a more fexible person. Being the first time in a campus
                    full of creative students,
                    I speed up my pace of learning. After those years, I've learned to be able to participate in
                    different kind of activities while studying at the same time!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div id="family_card" class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50"
                data-aos-duration="500">
                <div class="card-body cc-education-header">
                  <p>2000 - Present</p>
                  <div class="h5">Family</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duratioffa="500">
                <div class="card-body">
                  <div class="h5">Hsinchu, Taiwan</div>
                  <p class="category">Make life creative</p>
                  <p>I was born in a lovely family, with `my parents` and an elder sister and a younger brother. Living with siblings, I  learned how to get along with others, and participate in group well. In my childhood, my parents often encouraged me to take on different challenges,learning throug the process of solving problem by myself. My family also made me a creative and talented person who have many special life experience than others.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="reference">
        <div class="container cc-reference">
          <div class="h4 mb-4 text-center title">References</div>
          <div class="card" data-aos="zoom-in">
            <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
              <ol class="carousel-indicators">
                <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
                <li data-target="#cc-Indicators" data-slide-to="1"></li>
                <li data-target="#cc-Indicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-lg-2 col-md-3 cc-reference-header"><img src="img/lily.jpg" alt="Image" />
                      <div class="h5 pt-2">Lily</div>
                      <p class="category">CMO / UCUP</p>
                    </div>
                    <div class="col-lg-10 col-md-9">
                      <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est
                        porta cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam
                        luctus nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper,
                        laoreet nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient
                        fringilla rhoncus eleifend.</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-lg-2 col-md-3 cc-reference-header"><img src="img/fafa.jpg" alt="Image" />
                      <div class="h5 pt-2">Finn</div>
                      <p class="category">CMO / GeogWeek</p>
                    </div>
                    <div class="col-lg-10 col-md-9">
                      <p> Étudiant de la géographie, quand même. Finn est très mauvais pour indiquer des destination,
                        mais il est très bon pour trouver des liens entre les sujets, et les organiser.
                        Il est intéressé surtout par les langues étrangères.Il apprends l’anglais, le japonais, le
                        coréen et le français. Il est très passionnant sur les prononciations des langues, mais rien
                        pour l’amoureux. Mais je suis sur qu’un jour, il va savoir comment aimer.
                        C’est la personne qui a beaucoup d’idées nouvelles.
                        Dans la semaine de géographie, il est très connu par les autres pour inventer des produits
                        dessiné.
                        Il écrit aussi des articles sur Internet, ayant plus de six mille abonnements, il reste modeste
                        encore.</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-lg-2 col-md-3 cc-reference-header"><img src="images/reference-image-3.jpg"
                        alt="Image" />
                      <div class="h5 pt-2">Alexander</div>
                      <p class="category">CEO / Webnote</p>
                    </div>
                    <div class="col-lg-10 col-md-9">
                      <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est
                        porta cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam
                        luctus nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper,
                        laoreet nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient
                        fringilla rhoncus eleifend.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="contact">
        <div class="cc-contact-information" style="background-image: url('img/night_scene.jpg');">
          <div class="container">
            <div class="cc-contact">
              <div class="row">
                <div class="col-md-9">
                  <div class="card mb-0" data-aos="zoom-in">
                    <div class="h4 text-center title">Contact Me</div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="card-body">
                          <form action="https://formspree.io/jimmystereo@gmail.com" method="POST" target="_blank">
                            <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="input-group"><span class="input-group-addon"><i
                                      class="fa fa-user-circle"></i></span>
                                  <input class="form-control" type="text" name="name" placeholder="Name"
                                    required="required" v-model="name" />
                                </div>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="input-group"><span class="input-group-addon"><i
                                      class="fa fa-file-text"></i></span>
                                  <input class="form-control" type="text" name="Subject" placeholder="Subject"
                                    required="required" v-model="subject" />
                                </div>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="input-group"><span class="input-group-addon"><i
                                      class="fa fa-envelope"></i></span>
                                  <input class="form-control" type="email" name="_replyto" placeholder="E-mail"
                                    required="required" v-model="email" />
                                </div>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <div class="col">
                                <div class="form-group">
                                  <textarea class="form-control" name="message" placeholder="Your Message"
                                    required="required" v-model="message"></textarea>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <button class="btn btn-primary" v-on:click="addMessage">Send</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card-body">
                          <p class="mb-0"><strong>Address </strong></p>
                          <p class="pb-2">Taipei, Taiwan</p>
                          <p class="mb-0"><strong>Phone</strong></p>
                          <p class="pb-2">+886 955-007-221</p>
                          <p class="mb-0"><strong>Email</strong></p>
                          <p>jimmystereo@gmail.com</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container text-center"><a class="cc-facebook btn btn-link" href="https://www.facebook.com/jimmystereo"
        target="_blank"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a><a class="cc-twitter btn btn-link "
        href="https://github.com/jimmystereo" target="_blank"><i class="fa fa-github fa-2x "
          aria-hidden="true"></i></a><a class="cc-google-plus btn btn-link"
        href="https://www.youtube.com/channel/UC2uI4omSSUkcS6aMt2-9I6A" target="_blank"><i class="fa fa-youtube fa-2x"
          aria-hidden="true"></i></a><a class="cc-instagram btn btn-link"
        href="https://www.instagram.com/lhg221/" target="_blank"><i
          class="fa fa-instagram fa-2x " aria-hidden="true"></i></a></div>
    <div class="h4 title text-center">Jimmy Liu</div>
    <div class="text-center text-muted">
      <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com"
          target="_blank">TemplateFlip</a></p>
    </div>
  </footer>
  <script src="js/core/jquery.3.2.1.min.js"></script>
  <script src="js/core/popper.min.js"></script>
  <script src="js/core/bootstrap.min.js"></script>
  <script src="js/now-ui-kit.js?v=1.1.0"></script>
  <script src="js/aos.js"></script>
  <script src="scripts/main.js"></script>
</body>

</html>
